/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  
Ministério do Planejamento, Orçamento e Gestão
Departamento de Governo Eletrônico
www.governoeletronico.gov.br
Autor: Thiago Augusto dos Santos Silva - thiago.silva@planejamento.gov.br
*/

/* ##### Definição da estrutura -------------------------------------------- */

html {height: 100%; font-size:62.5%;}
body {height: 100%; font: normal 1.1em sans-serif; color: black; background: #fff}
#wrap {min-height: 100%; margin: 0 auto; background: #fff; width: 960px;}

/* #### Elementos Genéricos ------------------------------------------------ */

a { text-decoration: none; color: #004B82;}
a:hover { text-decoration: underline }

h1 {font-size: 2.2em; font-weight: bold; letter-spacing: -1px; color: #000;}
h2 {font-size: 2.2em; font-weight: bold; letter-spacing: -1px; color: #000;}
h3 {font-size: 1.6em; font-weight: bold; color: #000;}

p {font-size: 1.1em; padding: 0px 0 8px 0px; line-height: 1.7em}

code, pre {border: 1px solid #ccc; background: #F8F8F8; color: #000000; display: block; font-family: 'Courier New',Courier,Fixed,monospace; font-size: 100%; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal !important; line-height: 17px; margin: 1em 0; overflow: auto; padding: 5px 20px 5px 30px; text-align: left;}

.download {margin: 10px 0 30px 0; text-align: center; padding-left: 5px;}
.l-download {background: #ececec; display: block;  width: 180px; border: 1px solid #004B82; padding: 10px; box-shadow: -4px 4px 0 #ccc; font-weight: bold}
.l-download:hover {text-shadow: 0px 0px 5px #666666; text-decoration: none}

/* # Barra Brasil ---------------------------------------------------------- */

#barra-brasil { position:relative; overflow:hidden; min-width:1000px; background:#7F7F7F url(imagens/barra-brasil-v3-bgx.png) center bottom no-repeat;}
#barra-brasil .barra {display: block; width: 960px; height:28px; margin: 0 auto; background: url(imagens/barra-brasil-v3-bgx.gif) 0 bottom repeat-x;}
#barra-brasil .barra ul {float:right; width: 319px;}
#barra-brasil .barra ul li {float: left; padding-left: 25px;}
#barra-brasil .ai {background: #7F7F7F url(imagens/ai.png) no-repeat 0 4px; display: block; width: 161px; height: 28px; text-indent: -10000px}
#barra-brasil .brasilgov {background: #7F7F7F url(imagens/brasil.png) no-repeat 0 4px; display: block; width: 108px; height: 28px; text-indent: -10000px}


/* # Barra Auxiliar -------------------------------------------------------- */

#barra-auxiliar {height: 20px; padding: 6px 0px 4px 0; margin-bottom: 40px;}
#barra-auxiliar .pular {display: block; float: left; width: 200px; text-align: left;}
#barra-auxiliar .ipular {background: url(imagens/pular.png) no-repeat 2px 2px; width: 15px; height: 10px; padding-left: 18px}
#barra-auxiliar a {color: black}
#barra-auxiliar .acessibilidade {display: block; float: right; width: 550px; text-align: right;}
#barra-auxiliar .acessibilidade ul {list-style: none;}
#barra-auxiliar .acessibilidade ul li {display: inline; padding-left: 22px; margin-left: 5px }
#barra-auxiliar .iaumentar {background: url(imagens/aumentar.png) no-repeat 2px 2px; width: 15px; height: 10px}
#barra-auxiliar .inormal {background: url(imagens/normal.png) no-repeat 2px 2px; width: 15px; height: 10px}
#barra-auxiliar .idiminuir {background: url(imagens/diminuir.png) no-repeat 2px 2px; width: 15px; height: 10px}
#barra-auxiliar .iautocontraste {background: url(imagens/autocontraste.png) no-repeat 2px 2px; width: 15px; height: 10px}

/* # Header ---------------------------------------------------------------- */

#header { padding: 0; height: 100px; margin-bottom: 50px}

#header .h-esquerda { display: block; float: left; width: 530px;}
#header .h-direita { display: block; float: right; width: 240px;}
#header .logo-govbr { background: url("imagens/govbr-epwg.png") no-repeat; display: block; height: 90px; text-indent: -1000em; width: 240px;}
#header h1 { padding: 0 0 12px; text-shadow: -2px 2px 1px #CCCCCC;}
#header p { font-size: 1.1em; padding: 0 0 8px 0; line-height: 1.4em}

/* # Principal ------------------------------------------------------------- */

#principal { overflow:auto; padding: 10px 0 100px 0; clear: both;}


#principal .p-esquerda {display: block; width: 530px; float: left; padding-top: 10px;}
#principal .p-esquerda h2 {font-size: 1.8em; background: #004B82; color: #FFFFFF; margin-bottom: 20px; padding: 20px 0 0 3px; letter-spacing: -1px}

#principal .p-direita {display: block; width: 350px; float: right; padding: 10px}
.p-direita h3 {font-size: 2em; letter-spacing: -1px; padding: 0 0 10px 0; color: #004b82; text-shadow: -1px 2px 0px #ccc}
.p-direita ul {background: #ececec; padding: 10px 0 10px 20px; box-shadow: -6px 6px 0 #ccc;}
ul.l-padrao li, .p-direita ul li { padding: 10px 10px 10px 20px; background: url(imagens/marcador.png) no-repeat 0 14px; color: #000}
ul.l-padrao li a, .p-direita ul li a {color: #004B82; font-size: 1.1em}

.verde {padding: 5px 10px; background: #00500F; float: right; width: 55px; color: #fff}
.cinza {padding: 5px 10px; background: #7F7F7F; float: right; width: 55px}
.preto {padding: 5px 10px; background: #000000; float: right; width: 55px; color: #fff}
.azul {padding: 5px 10px; background: #004B82; float: right; width: 55px; color: #fff}

.hexa {display: none}

/* # Rodapé ---------------------------------------------------------------- */

#footer {
    position: relative;
	/* margin-top: -100px; negative value of footer height */
	height: 100px;
	clear:both;
	background: #fff;
    margin: -100px auto 0 auto;
    width: 960px;
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#footer a {text-shadow: 1px 1px 2px #333; text-decoration: none}
#footer a:hover {font-size: 1.3em; text-shadow: 1px 1px 2px #333; }
.twitter {position: relative; left: 0px; top: 30px; display: block; width: 100px; height: 20px; background: url(imagens/twitter.png) no-repeat; padding-left: 45px; font-size: 1.2em;}
.marca-governo {display: block; width: 300px; height: 62px; background: url(imagens/marca-governo.png) no-repeat; float: right; text-indent: -1000em; }
